<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>
  <body>
    <%- include('./partials/navbar.ejs'); %>
    <div class="container center-align">
      <i class="large material-icons">error</i>
      <p><h2>404 - Página no existente</h2></p>
    </div>
  </body>
</html>